.nav-wrapper {
    margin: .2rem;
}
.fas {
   
    margin-right: 1rem;
}

/* .section {
    margin: .5rem 10%;
} */

#infoFormDiv {
    margin-bottom: 5rem;
}


footer {
    position:fixed;
    bottom:0;
    width: 100%;
}
li.med-li.btn.col.s6 {
    margin: 5px;
}
.row .col.s6 {
    width: 47%;
}

#message {
    font-display: 600;
    font-size: 20px;
    color: red;
}

@media screen and (max-width: 542px){
    #headerText {
        font-size: 1.5rem;
    }
}